.buy-img-sabre img {
  width: 100%;
}

.buy-img-sabre {
  border: 1px solid #000;
  width: 32vw;
}

.buy-img-sabre-content {
  display: flex;
  justify-content: center;
}

.buy-content {
  width: 32vw;
}
