.flash {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.flash-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.flash-without,
.flash-with {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flash-without img,
.flash-with img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.flash-with {
  animation: clignotements 2s infinite;
}

@keyframes clignotements {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.1;
  }
}

.flash button {
  position: absolute;
  top: 56%;
  left: 70%;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
}

.flash-button {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: 6px solid #833d74;
  animation: pulse 1.5s infinite alternate ease-in-out;
}

@keyframes pulse {
  from {
    scale: 1;
  }
  to {
    scale: 1.3;
  }
}
