footer {
  background: #eef3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  margin-top: 43px;
}

.footer-content {
  font-size: 15px;
  display: flex;
  gap: 10px;
  margin-top: 17px;
}

.footer-social-medias {
  display: flex;
  gap: 23px;
  margin-top: 20px;
  margin-bottom: 43px;
}
