.mountain-in-container {
  position: relative;
  overflow: hidden;
}
.mountain-in {
  height: 100vh;
  overflow: hidden;
}
.mountain-in-case {
  background-image: url("/src/img/mountain-in-case.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  height: 100vh;
}
.mountain-in-container img {
  position: absolute;
  width: 100%;
}
.mountain-in-container img.familly {
  position: relative;
}
.mountain-in-container img.top {
  top: 0;
}
.mountain-in-container img.bottom {
  top: 0;
}
