.screen-1 img {
  width: 100%;
}

.screen-1-ornament {
  position: relative;
}

.screen-1-arrow {
  position: absolute;
}

.screen-2-ornament img {
  width: 100%;
}

.screen-2 {
  position: relative;
}

.screen-2-ornament {
  position: relative;
}

.screen-2-sequence img {
  width: 100%;
}

.screen-2-sequence {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  //   left: 81px;
  left: 6%;
  right: 6%;
  top: 28%;
}

.screen-4-img img {
  width: 62%;
  margin: auto;
  border: 9px solid #000;
}

.screen-5-sequence img {
  width: 50%;
  border: 9px solid #000;
}

.screen-5-sequence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.screen-5 {
  position: relative;
}

.screen-5-snow {
  position: absolute;
  top: 32%;
  right: 8%;
}

.screen-5-snow img {
  width: 20%;
}
