.scroll-horizontal {
  overflow: hidden;
}

.screens {
  display: inline-flex;
}

.screens .screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
