.screen-1 img {
  width: 100%;
}

.screen-1-ornament {
  position: relative;
}

.screen-1-arrow {
  position: absolute;
}

.screen-2-ornament img {
  width: 100%;
}

.screen-2 {
  position: relative;
}

.screen-2-ornament {
  position: relative;
}

.screen-2-sequence img {
  width: 100%;
}

.screen-2-sequence {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  //   left: 81px;
  left: 6%;
  right: 6%;
  top: 28%;
}

.screen-3 {
  position: relative;
}

.screen-3-frame {
  position: relative;
  width: 60%;
  aspect-ratio: 139/103;
  border: 9px solid black; /* ton "stroke" */
  overflow: hidden; /* masque tout ce qui dépasse */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.screen-3-background,
.screen-3-sabre,
.screen-3-trees {
  position: absolute;
  margin: auto;
  width: 100%;
}
.screen-3-background img,
.screen-3-sabre img,
.screen-3-trees img {
  width: 100%;
}

.screen-3-background img {
  width: 109%;
}

.screen-4-img img {
  width: 62%;
  margin: auto;
  border: 9px solid #000;
}

.screen-5-sequence img {
  width: 50%;
  border: 9px solid #000;
}

.screen-5-sequence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.screen-5 {
  position: relative;
}

.screen-5-snow {
  position: absolute;
  top: 32%;
  right: 4%;
}

.screen-5-snow img {
  width: 15%;
}

.screen-6 img {
  width: 100%;
}

.screen-7 img {
  width: 100%;
}

.screen-7 {
  position: relative;
}

.screen-7 button {
  position: absolute;
  left: 66.1%;
  top: 41.7%;
  width: 3%;
  height: 5%;

  border-radius: 100%;
  fill: rgba(255, 255, 255, 0.8);
  filter: blur(4.300000190734863px);
  opacity: 80%;
}

.screen-fast-scroll-background {
  background-image: url(/src/img/snow-background.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.screen-8 {
  position: relative;
}

.screen-8-tree img {
  height: 100vh;
}

.screen-8-tree {
  position: absolute;
  left: -11vw;
}

.screen-8-rock img {
  height: 13vh;
}

.screen-8-rock {
  position: absolute;
  margin-top: 87vh;
}

.screen-9-tree img {
  height: 50vh;
}

.screen-9-tree {
  position: absolute;
  margin-top: 50vh;
  margin-left: -68vw;
}

.screen-9-rock {
  position: absolute;
  margin-top: 97vh;
  margin-left: 15vw;
}

.screen-9-rock img {
  height: 4vh;
}

.screen-9-tree-snow {
  position: absolute;
  margin-top: 25vh;
  margin-left: 80vw;
}
.screen-9-tree-snow img {
  height: 75vh;
}

.screen-10-rock {
  position: absolute;
  margin-top: 90vh;
  margin-left: -84vw;
}

.screen-10-rock img {
  height: 10vh;
}

.screen-10-mountain {
  position: absolute;
  margin-top: 52vh;
  margin-left: 55vw;
}

.screen-10-mountain img {
  height: 50vh;
  opacity: 50%;
}

.screen-11-rock {
  position: absolute;
  margin-top: 90vh;
  margin-left: -55vw;
}

.screen-11-rock img {
  height: 10vh;
}

.screen-11-trees {
  position: absolute;
  margin-top: 55vh;
  margin-left: 65vw;
}

.screen-11-trees img {
  height: 45vh;
}

.screen-12-rock {
  position: absolute;
  margin-top: 86vh;
  margin-left: -85vw;
}

.screen-12-rock img {
  height: 15vh;
}

.screen-12-trees {
  position: absolute;
  margin-top: 40vh;
  margin-left: 70vw;
}

.screen-12-trees img {
  height: 60vh;
}

.screen-13-trees {
  position: absolute;
  margin-left: 51vw;
}

.screen-13-trees img {
  height: 100vh;
}

.screen-14-img img {
  width: 100%;
}
